<!doctype html>
<html>
<head>
<title>Roller Coaster Tycoon</title>
<script type="text/javascript" src="js/shared/jquery.js"></script>
<script type="text/javascript" src="js/shared/bootstrap.js"></script>
<script type="text/javascript" src="js/shared/angular.js"></script>
<script type="text/javascript" src="js/shared/angular-route.js"></script>

<script type="text/javascript" src="js/user/Properties.js"></script>
<script type="text/javascript" src="js/user/Application.js"></script>
<script type="text/javascript" src="js/user/Controller.js"></script>

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

</head>
<body background="img/bg/bub.png" style="color: #b6b6b6;" ng-app="Application" ng-controller="RollerCoasterController">

       <div class="container-fluid">
              <div class="row" style="margin-top: 2%;">
                     <div class="col-md-10 col-md-offset-1"
                           style="background-color: white; opacity: 0.4; height: 80px;"></div>
                     <div style="position: absolute;">
                           <img src="img/im.png"
                                  style="height: 60px; width: 140px; margin-left: 120px; margin-top: -10px;" />
                           <img src="img/logo/logo.png"
                                  style="height: 80px; width: 150px; margin-top: 10px;" /> <img
                                  src="img/ty.png"
                                  style="height: 30px; width: 80px; margin-left: -45px; -webkit-transform: rotate(-10deg); margin-bottom: -30px;" />

                     </div>
              </div>

              <div class="row" style="margin-top: 2%;">
                     <div class="col-md-6 col-md-offset-1"
                           style="background-color: white; opacity: 0.7; height: 480px;"></div>
                     <div class="col-md-4">
                           <div
                                  style="background-color: grey; opacity: 0.7; height: 480px; width: 103%;"></div>
                     </div>
              </div>
              <div>
                     <div class="slider"
                           style="position: absolute; margin-top: -490px; width: 650px; margin-left: 115px; border: 2px solid black;">
                           <figure>
                                  <div class="slide">
                                         <img alt="Slide_1" src="img/bg3.jpg">
                                  </div>
                                  <div class="slide">
                                         <img alt="Slide_1" src="img/slider_2.jpg">
                                  </div>
                                  <div class="slide">
                                         <img alt="Slide_1" src="img/slider_3.jpg">
                                  </div>
                                  <div class="slide">
                                         <img alt="Slide_1" src="img/slider_1.jpg">
                                  </div>
                                  <div class="slide">
                                         <img alt="Slide_1" src="img/bg3.jpg">
                                  </div>
                           </figure>
                     </div>
              </div>


              <div
                     style="margin-top: -490px; margin-left: 815px; width: 400px; height: 50px;">
                     <div class="login-wrap">
                           <div class="login-html">
                                  <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
                                         for="tab-1" class="tab">Login&nbsp;</label> 
                                         <input id="tab-2"
                                         type="radio" name="tab" class="sign-up">                             
                                         
                                  <label for="tab-2"
                                         class="tab" >New User</label>                  
                                         
                                         
                                         
                                         
                                         
                                  <div class="login-form">
                                         
                                         <div class="sign-in-htm">
                                         
                                         <form ng-submit="loginForm()" method="post">
                                                <div class="group">
                                                       <br> <label for="user" class="label" style="color: white;">Username</label>
                                                       <input id="user" type="text" class="input" name="user" ng-model="login.username">
                                                </div>
                                                <div class="group">
                                                       <label for="pass" class="label" style="color: white">Password</label>
                                                       <input id="pass" type="password" class="input"
                                                              data-type="password" name="pwd" ng-model="login.password">
                                                </div>

                                                <div class="group">
                                                
                                                <input type="submit" class="button" value="Sign In">


                                                
                                                       <br>
                                                </div>
                                                <div class="hr"></div>
                                                
                                         </form>

                                         </div>
                                                                                  <!--  from here to new.html -->
                                         
                                         
                                         <div class="sign-up-htm">
                                         <form ng-submit="playerForm.submitTheForm()">
                                         
                                                <div class="group">
                                                       <label for="user" class="label" style="color: white;">Username</label>
                                                       <input id="user" type="text" class="input" ng-model="playerForm.playerName" required="required">
                                                </div>
                                                <div class="group">
                                                       <label for="pass" class="label" style="color: white;">Password</label>
                                                       <input id="pass" type="password" ng-model="pass" class="input"
                                                              data-type="password" ng-blur="$parent.c=$parent.c+1" required="required">
                                                </div>
                                                <div class="group">
                                                       <label for="pass" class="label" style="color: white;">Confirm
                                                              Password</label> <input id="pass" type="password"
                                                              ng-model="playerForm.password" class="input" data-type="password"
                                                              ng-blur="$parent.c=$parent.c+1" required="required">
                                                </div>
                                                
                           <div class="group">
                                                       <input type="submit" class="button" value="Sign Up">
                                                </div>
                                                <div class="hr"></div>
                                                       </form>
                                                <div align="center">
                                                       <label for="tab-1" style="color: #bbbbbb;">Already a
                                                              Member?</label>
                                                </div>
                                                <div ng-if="playerForm.password!=pass && $parent.c>=2" style="color: lime; "
                                                              align="center">Passwords not matching </div>
                                                              
                                                              
                                         </div>
                                  </div>
                           </div>
                     </div>
              </div>


              <div
                     style="margin-top: -115px; margin-left: 1120px; position: absolute;">
                     <a class="button1" href="#popup1" style="text-decoration: none;">&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;</a>
              </div>

              <div id="popup1" class="overlay">
                     <div class="popup">
                           <h2>About the Game</h2>
                           <a class="close" href="#">&times;</a>
                           <div class="content" style="color: #333;"><br>
                                  The premise of the game is to complete a series of preset scenarios by
                                  successfully building and maintaining amusement parks through business ownership as a theme park entrepreneur.
                                  <br>
                                  The key to any park is building a large amount and diverse range of rides for the visitors.
                                  <br>
                               You can choose from dozens of roller coaster types and can also build log flumes, carousels, 
                                  bumper cars, haunted houses, go karts, ferris wheels, and swinging ships, among other rides. 
                                  <br>
                                  You may hire handymen to sweep paths, empty garbage cans, water flowers and mow lawns; mechanics to inspect and fix rides; 
                                  security guards to prevent vandalism within the park; and entertainers to entertain the guests. But take care of your budget while doing that.
                                  <br>
                                  You also have the option of building your own roller coaster designs as well as other rides by laying out individual track pieces, choosing the direction, height, and steepness, and adding 
                                  such elements as zero g rolls, corkscrews, vertical loops, and even on-ride photos, using a tile-based construction system.
                                  <br>
                                  To complete a scenario and unlock a new one, a certain objective must be met by you. For most scenarios, the objective is to either have a minimum number of guests, 
                                  or build the park up to a certain value, by the scenario's deadline of one to four years<br>
                                  So make your way to the amazing world of amusement!!!!
                           </div>

                     </div>
              </div>




       </div>
</body>
</html>
